$red: #E1332D;
$white: #000;

html {
	overflow-y: scroll;
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}
/* Main styles */
body {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	color: #CECECE;

     background: #ddd url(https://cloud.githubusercontent.com/assets/16118642/11917074/f56f9392-a71d-11e5-9e7e-8f0e4e9d77ab.jpg) repeat top left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #5C5EDC;
	outline: none;
}

a:focus {
	color: #ddd;
}

a:hover {
	color: #fff;
}

/* Header Style */
.title {
	line-height: 50px;
	font-size: 17px;
	background: #fff;
	text-transform: uppercase;
	z-index: 9999;
    text-align:center;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 6px rgba(0,0,0,0.2);
}

.title a {
	padding: 1% 0;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0 -1px 0 #fff;
	display: inline-block;
}

.title a:hover {
  /*	background: rgba(255,255,255,0.8);
	color: #000; */
}
.desc {
	line-height: 20px;
	font-size: 14px;
	text-transform: uppercase;
	z-index: 9999;
    text-align:center;
	position: relative;
	font-family: Cambria, Georgia, serif;

}
.desc a {
    padding: 5% 3%;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0 -1px 0 #fff;
	display: inline-block;
}

.desc a:hover {

}
.downloadshelf {
    position: relative;
    list-style: none;
    text-align: center;
}
.downloadshelf figure {
    position: relative;
    display: inline-block;
    margin: 5px 0 0 0;
    padding: 5px 0;
    max-width: 75%;
    width: 324px;
    vertical-align: top;
}
.downloadshelf figcaption {
    position: relative;
    top: 100%;
    padding: 0 2em;
    text-align: center;
}
.downloadshelf figcaption h2 {
    margin: 1em 0 0 0;
    font-weight: 300;
    font-size: 1.8em;
    color: #333;
    font-family: "Abril Fatface", serif;
}
 .downloadshelf figcaption h2 span {
    position: relative;
    display: block;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 0.4em;
    font-family: "Lato", sans-serif;
}
.downloadshelf figcaption h2 span::before {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
}
.downloadshelf a {
    text-align: center;

   /* background:#ff2266;*/
text-transform: uppercase;letter-spacing: 0.1em;
font-weight: 300;position: relative;display: inline-block;
 margin: 20px 0 0 3px;padding: 15px 0;     text-decoration: none;
border: 3px solid #333;
font-family: Cambria, Georgia, serif;
	box-shadow: 5px 0px 10px rgba(0,0,0,0.2);
font-size: 18px;
transition: all .1s ease-in-out;
border-radius: 2px;max-width: 75%;width: 200px;vertical-align: top;color:#333;
}

.downloadshelf a:hover { transform: scale(0.9); }

.sae {
    position: relative;
    list-style: none;
    text-align: center;
}
.sae figure {
    position: relative;
    display: inline-block;
    margin: 5px 0 0 0;
    padding: 5px 0;
    max-width: 95%;
    width: 324px;
    vertical-align: top;
}
.sae figcaption {
    position: relative;
    top: 100%;
    padding: 5em 2em;
    text-align: center;
}
.sae figcaption h2 {
    margin: 1em 0 0 0;
    font-weight: 300;
    font-size: 1.8em;
    color: #333;
    font-family: "Abril Fatface", serif;
}
.sae figure img {
	position: relative;
    display: inline-block;
    max-width: 140%;

}
.features {
	line-height: 50px;
	font-size: 18px;
	text-transform: uppercase;
	z-index: 9999;
    text-align:center;
	position: relative;
	font-family: Cambria, Georgia, serif;

}
.features span {
    padding: 1% 1%;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0 -1px 0 #fff;
	display: inline-block;
}
.featuresscroll {
    position: relative;
    list-style: none;
    text-align: center;
}
.featuresscroll figure {
    position: relative;
    display: inline-block;
    margin: 1px 0 0 0;
    padding: 1px 0;
    max-width: 100%;
    width: 324px;
    vertical-align: top;
}
.featuresscroll figcaption {
    position: relative;
    top: 100%;
    padding: 2em 2em;
    text-align: center;
}
.featuresscroll figcaption h2 {
    margin: 1em 0 0 0;
    font-weight: 300;
    font-size: 1.8em;
    color: #333;
    font-family: "Abril Fatface", serif;
}
.featuresscroll figcaption span {
    position: relative;
    display: block;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.0em;
    line-height: 30px;
    color: #333;
    font-family: "Lato", sans-serif;
}
.featuresscroll figcaption span::before {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
}
.featuresscroll figure img {
	position: absolute;
    display: inline-block;

}



